<div class="container my-auto">
    <div class="text-center">
        <img src="/images/logo/admin-logo.jpg" height="200px" width="200px">
    </div>

    <div class="mb-3 py-3 text-center">
        <h4 class="text-muted"><b>Welcome</b></h4>
    </div>


    <div class="row text-center">
        <div class="col-md-12">
            <button style="border-radius: 5px;" class="my-btn btn-danger px-3"><a class="text-white p-4"
                    style="font-size: 20px; text-decoration: none;" href="/admin/login"><b>Click here to
                        login</b></a></button>
        </div>

    </div>

</div>