{{#if errors }}
{{#each errors}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{this.msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
{{/if}}


{{#if success}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{success}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{error}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if err}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{err}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}