<div class="container-fluid mx-0 bg-dark mx-auto">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <div class="mt-3 mx-auto px-auto">
                    <img src="/images/uploads/oaustech/{{oaustechcert.img}}" class="img-fluid mx-auto">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>