<div class="jumbotron jumbotron-fluid bg-">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><b>Welcome to Ondo State web based certification center</b></h1>
            <p class="lead"><i class="text-dark">Faster means of checking the authencity of your certificate just got
                    easier!!!!</i></p>
        </div>
    </div>
</div>




<div class="my-5 py-4 container text-center">
    <div class="text-center">
        <h4><b>Would like to verify your certificate?</b></h4>
    </div>
    <div class="my-3">
        <button class="btn btn-danger py-2"><a class="px-3 py-2 text-white" style="text-decoration: none;"
                href="/school">Click Here</a></button>
    </div>
</div>